<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="tokenKey" value="AqRGFtVaBIUmppdC5v5NOrTngH+shUy+AFtW59LO4qFyht8ZkSek9xcEMSypKBPaEbs1gQ6nZ7OjZErrB2BPlg=="/>
    <add key="tokenIssuer" value="LihangSoft"/>
    <add key="tokenAudience" value="UniApp"/>
    <add key="AppId" value="wx9daae6ea7ddf7185" />
    <add key="AppSecret" value="1133fe2e7547932ce4a4d7a630bddf73" />
    <add key="redis" value="Jii69DUyTNpHhUpq7dxlOEE1+yXd1Y+s0diquU9jMZqKYOhax0bdLPoSNRL2QKMYG/A1SMm+f/Q=" />
  </appSettings>
  
  
  <connectionStrings>
    <add name="MainConnection" connectionString="1MreBB0VdhPT6DoaPn21bTki5MnneYInxSQMWaHmEf2wth8Vgs8pdXiXtFkgFxaYYAysLheuEc9fS+Nowx1I0oeADBPBogzUEKNO9ubaiWM=" />
  </connectionStrings>
</configuration>